
.continue-button>button{
   
    border-radius: 100px;
    background-color: #0098C9;
    width: 100%;
    height: 50px;

}
.Text-Field{
    width: 100%;
    height: 50px;

}

.Login_Form{
    display:flex;
    flex-direction: column;
    margin:40px;
    margin-left:25%;
}
/* .Field{
    width: 424px;
    height: 50px;

} */
.Form{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* .Center{
    background-color: '#0098C9';
    border-radius: 50px;
    width: 95px;
    height: 95px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

} */

    
.phone-input-style > div > div:nth-child(2) > div > div > div > input {
border-radius: 10px;
border: 1px solid #d9d9d9;
}
.phone-input-style > div > div:nth-child(2) > div > div > div > .flag-dropdown  {
    border-radius: 10px 0 0 10px;
    border: 1px solid #d9d9d9;
}

.companyCategory > .ant-select-selector{
        height: 50px !important;
        border-radius: none !important;
}

.ant-form-item {
    margin-bottom: 10px !important;
}